In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [12]:
stores_train = pd.read_csv('data/stores_train.csv')
stores_test = pd.read_csv('data/stores_test.csv')

grunnkrets_households_num_persons = pd.read_csv('data/grunnkrets_households_num_persons.csv')

In [13]:
stores_with_households_num_persons = stores_train.merge(grunnkrets_households_num_persons, how="left", on="grunnkrets_id")

In [14]:
grunnkrets_households_num_persons.head().T
#stores_with_households_num_persons.head().T

,0,1,2,3,4
grunnkrets_id,12010509,14390206,18040514,18040804,18200101
year,2015,2015,2015,2015,2015
couple_children_0_to_5_years,0,0,10,0,0
couple_children_18_or_above,0,7,0,0,6
couple_children_6_to_17_years,4,0,0,0,0
couple_without_children,0,0,0,0,0
single_parent_children_0_to_5_years,0,0,0,0,0
single_parent_children_18_or_above,0,0,0,0,0
single_parent_children_6_to_17_years,0,0,0,0,0
singles,4,3,7,0,4

In [15]:
stores_train.head().T

,0,1,2,3,4
store_id,983540538-974187930-44774,987074191-973117734-44755,984890265-981157303-64491,914057442-992924179-126912,913018583-913063538-668469
year,2016,2016,2016,2016,2016
store_name,MCDONALD'S BRAGERNES TORG MAGASINET,MCDONALD'S KLINGENBERGGATA,BURGER KING HÃ˜NEFOSS,BURGER KING GLASSHUSPASSASJEN,BURGER KING TILLERTORGET
plaace_hierarchy_id,1.1.1.0,1.1.1.0,1.1.1.0,1.1.1.0,1.1.1.0
sales_channel_name,Hamburger restaurants,Hamburger restaurants,Hamburger restaurants,Hamburger restaurants,Hamburger restaurants
grunnkrets_id,6020303,3010306,6050102,18040102,16017414
address,BRAGERNES TORG 13,NaN,KONG RINGS GATE 1,STORGATA 12,NaN
lat,59.743104,59.913759,60.164751,67.283669,63.358068
lon,10.204928,10.734031,10.254656,14.379796,10.374832
chain_name,MCDONALDS,MCDONALDS,BURGER KING,BURGER KING,BURGER KING
mall_name,Magasinet Drammen,NaN,Kuben HÃ¸nefoss,Glasshuspassasjen,Tillertorget
revenue,17.998,23.828,16.099,9.296,4.528

In [16]:
stores_with_households_num_persons.head().T

,0,1,2,3,4
store_id,983540538-974187930-44774,983540538-974187930-44774,987074191-973117734-44755,987074191-973117734-44755,984890265-981157303-64491
year_x,2016,2016,2016,2016,2016
store_name,MCDONALD'S BRAGERNES TORG MAGASINET,MCDONALD'S BRAGERNES TORG MAGASINET,MCDONALD'S KLINGENBERGGATA,MCDONALD'S KLINGENBERGGATA,BURGER KING HÃ˜NEFOSS
plaace_hierarchy_id,1.1.1.0,1.1.1.0,1.1.1.0,1.1.1.0,1.1.1.0
sales_channel_name,Hamburger restaurants,Hamburger restaurants,Hamburger restaurants,Hamburger restaurants,Hamburger restaurants
grunnkrets_id,6020303,6020303,3010306,3010306,6050102
address,BRAGERNES TORG 13,BRAGERNES TORG 13,NaN,NaN,KONG RINGS GATE 1
lat,59.743104,59.743104,59.913759,59.913759,60.164751
lon,10.204928,10.204928,10.734031,10.734031,10.254656
chain_name,MCDONALDS,MCDONALDS,MCDONALDS,MCDONALDS,BURGER KING
mall_name,Magasinet Drammen,Magasinet Drammen,NaN,NaN,Kuben HÃ¸nefoss
revenue,17.998,17.998,23.828,23.828,16.099
year_y,2015.0,2016.0,2015.0,2016.0,2016.0
couple_children_0_to_5_years,21.0,20.0,0.0,0.0,45.0
couple_children_18_or_above,0.0,0.0,0.0,0.0,9.0
couple_children_6_to_17_years,16.0,8.0,0.0,0.0,38.0
couple_without_children,26.0,28.0,0.0,0.0,84.0
single_parent_children_0_to_5_years,0.0,4.0,0.0,0.0,13.0
single_parent_children_18_or_above,0.0,6.0,0.0,0.0,6.0
single_parent_children_6_to_17_years,8.0,11.0,0.0,0.0,12.0
singles,78.0,75.0,5.0,6.0,150.0