# Hypothesis

Areas with many young adults (age 27-55) will have stores with higher revenues in that area

In [2]:
import pandas as pd
import numpy as np

In [3]:
stores_train = pd.read_csv('../data/stores_train.csv')
grunnkrets_age_distribution = pd.read_csv('../data/grunnkrets_age_distribution.csv')

In [8]:

grunnkrets_age_distribution.head()

,grunnkrets_id,year,age_0,age_1,age_2,age_3,age_4,age_5,age_6,age_7,...,age_81,age_82,age_83,age_84,age_85,age_86,age_87,age_88,age_89,age_90
0,16013117,2015,14,14,14,14,13,13,12,11,...,0,0,0,0,0,0,0,0,0,0
1,16013117,2016,10,10,10,10,10,10,9,9,...,0,0,0,0,0,0,0,0,0,0
2,11030206,2015,5,5,5,5,5,4,4,3,...,0,0,0,0,0,0,0,0,0,0
3,16011203,2016,2,2,2,2,2,3,3,3,...,1,1,1,1,1,1,1,0,0,0
4,3011601,2016,7,7,7,7,6,6,5,4,...,1,1,0,0,0,0,0,0,0,0

In [14]:
def young_adults_in_grunnkrets():
    total_number_adults_grunnkrets = []

    for index, row in grunnkrets_age_distribution.iterrows():
        total_num = 0
        for i in range(27, 55):
            param = f"age_{i}"
            total_num += row[param]
        total_number_adults_grunnkrets.append(total_num)
                
    return total_number_adults_grunnkrets

young_adults_in_grunnkrets()


instance = young_adults_in_grunnkrets()
adults_grunnkrets = pd.DataFrame()
adults_grunnkrets["grunnkrets_id"] = grunnkrets_age_distribution["grunnkrets_id"]
adults_grunnkrets["number_adults_grunnkrets"] = np.asarray(instance)
adults_grunnkrets.to_csv("../features_csv/number_adults_grunnkrets.csv", index=False)