# Hypothesis

Areas with many young adults (age 27-55) will have stores with higher revenues in that area

In [1]:
import pandas as pd
import numpy as np

In [2]:
stores_train = pd.read_csv('../data/stores_train.csv')
stores_test = pd.read_csv('../data/stores_test.csv')
grunnkrets_age_distribution = pd.read_csv('../data/grunnkrets_age_distribution.csv')

In [3]:

grunnkrets_age_distribution.head()

,grunnkrets_id,year,age_0,age_1,age_2,age_3,age_4,age_5,age_6,age_7,...,age_81,age_82,age_83,age_84,age_85,age_86,age_87,age_88,age_89,age_90
0,16013117,2015,14,14,14,14,13,13,12,11,...,0,0,0,0,0,0,0,0,0,0
1,16013117,2016,10,10,10,10,10,10,9,9,...,0,0,0,0,0,0,0,0,0,0
2,11030206,2015,5,5,5,5,5,4,4,3,...,0,0,0,0,0,0,0,0,0,0
3,16011203,2016,2,2,2,2,2,3,3,3,...,1,1,1,1,1,1,1,0,0,0
4,3011601,2016,7,7,7,7,6,6,5,4,...,1,1,0,0,0,0,0,0,0,0

In [4]:

grunnkrets_age_distribution = grunnkrets_age_distribution[grunnkrets_age_distribution.year != 2015]

grunnkrets_age_distribution.head()

,grunnkrets_id,year,age_0,age_1,age_2,age_3,age_4,age_5,age_6,age_7,...,age_81,age_82,age_83,age_84,age_85,age_86,age_87,age_88,age_89,age_90
1,16013117,2016,10,10,10,10,10,10,9,9,...,0,0,0,0,0,0,0,0,0,0
3,16011203,2016,2,2,2,2,2,3,3,3,...,1,1,1,1,1,1,1,0,0,0
4,3011601,2016,7,7,7,7,6,6,5,4,...,1,1,0,0,0,0,0,0,0,0
8,3010807,2016,3,3,3,3,3,3,2,2,...,1,1,1,0,0,0,0,0,0,0
11,3012307,2016,4,4,4,4,4,4,4,4,...,0,0,0,0,0,0,0,0,0,0

In [5]:
merged_file_train = stores_train.merge(grunnkrets_age_distribution, on="grunnkrets_id", how="left")
merged_file_test = stores_test.merge(grunnkrets_age_distribution, on="grunnkrets_id", how="left")
merged_file_train.shape

(12859, 104)

In [6]:
merged_file_train.head()

,store_id,year_x,store_name,plaace_hierarchy_id,sales_channel_name,grunnkrets_id,address,lat,lon,chain_name,...,age_81,age_82,age_83,age_84,age_85,age_86,age_87,age_88,age_89,age_90
0,983540538-974187930-44774,2016,MCDONALD'S BRAGERNES TORG MAGASINET,1.1.1.0,Hamburger restaurants,6020303,BRAGERNES TORG 13,59.743104,10.204928,MCDONALDS,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,987074191-973117734-44755,2016,MCDONALD'S KLINGENBERGGATA,1.1.1.0,Hamburger restaurants,3010306,NaN,59.913759,10.734031,MCDONALDS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,984890265-981157303-64491,2016,BURGER KING HÃ˜NEFOSS,1.1.1.0,Hamburger restaurants,6050102,KONG RINGS GATE 1,60.164751,10.254656,BURGER KING,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
3,914057442-992924179-126912,2016,BURGER KING GLASSHUSPASSASJEN,1.1.1.0,Hamburger restaurants,18040102,STORGATA 12,67.283669,14.379796,BURGER KING,...,2.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
4,913018583-913063538-668469,2016,BURGER KING TILLERTORGET,1.1.1.0,Hamburger restaurants,16017414,NaN,63.358068,10.374832,BURGER KING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# TRAIN

def young_adults_in_grunnkrets():
    total_number_adults_grunnkrets = []
    counter = 0
    sum_all_grunnkrets = 0 

    for index, row in merged_file_train.iterrows():
        total_num = 0
        for i in range(27, 55):
            param = f"age_{i}"
            total_num += row[param]
        #total_number_adults_grunnkrets.append(total_num)
        if not np.isnan(total_num):
            sum_all_grunnkrets += total_num
            counter += 1
    
    average = sum_all_grunnkrets / counter


    for index, row in merged_file_train.iterrows():
        total_num = 0
        for i in range(27, 55):
            param = f"age_{i}"
            total_num += row[param]
        if np.isnan(total_num):
            total_number_adults_grunnkrets.append(average)
        else:
            total_number_adults_grunnkrets.append(total_num)
        if not np.isnan(total_num):
            sum_all_grunnkrets += total_num
            counter += 1
                
    return total_number_adults_grunnkrets

young_adults_in_grunnkrets()


instance = young_adults_in_grunnkrets()
adults_grunnkrets = pd.DataFrame()
adults_grunnkrets["number_adults_grunnkrets"] = np.asarray(instance)
adults_grunnkrets.to_csv("../features_train_csv/number_adults_grunnkrets.csv", index=False)

In [8]:
#TEST

def young_adults_in_grunnkrets():
    total_number_adults_grunnkrets = []
    counter = 0
    sum_all_grunnkrets = 0 

    for index, row in merged_file_test.iterrows():
        total_num = 0
        for i in range(27, 55):
            param = f"age_{i}"
            total_num += row[param]
        #total_number_adults_grunnkrets.append(total_num)
        if not np.isnan(total_num):
            sum_all_grunnkrets += total_num
            counter += 1
    
    average = sum_all_grunnkrets / counter


    for index, row in merged_file_test.iterrows():
        total_num = 0
        for i in range(27, 55):
            param = f"age_{i}"
            total_num += row[param]
        if np.isnan(total_num):
            total_number_adults_grunnkrets.append(average)
        else:
            total_number_adults_grunnkrets.append(total_num)
        if not np.isnan(total_num):
            sum_all_grunnkrets += total_num
            counter += 1
                
    return total_number_adults_grunnkrets

young_adults_in_grunnkrets()


instance = young_adults_in_grunnkrets()
adults_grunnkrets = pd.DataFrame()
adults_grunnkrets["number_adults_grunnkrets"] = np.asarray(instance)
adults_grunnkrets.to_csv("../features_test_csv/number_adults_grunnkrets.csv", index=False)