# Hypothesis

Areas with larger revenue will have households living there with higher average income

Grunnkrets-områder med høy inntekts-gjennomsnitt, vil gjøre at samme grunnkrets-område har høyere revenue på butikker

- grunnkrets_id referer til et område
- hvis man merger grunnkrets_id i income og stores_train
- merge filer
- merge de med samme grunnkrets id

In [69]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [70]:
stores_train = pd.read_csv('../data/stores_train.csv')
stores_test = pd.read_csv('../data/stores_test.csv')
grunnkrets_income_households = pd.read_csv('../data/grunnkrets_income_households.csv')

In [71]:
print(grunnkrets_income_households.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26530 entries, 0 to 26529
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   grunnkrets_id                26530 non-null  int64
 1   year                         26530 non-null  int64
 2   all_households               26530 non-null  int64
 3   singles                      26530 non-null  int64
 4   couple_without_children      26530 non-null  int64
 5   couple_with_children         26530 non-null  int64
 6   other_households             26530 non-null  int64
 7   single_parent_with_children  26530 non-null  int64
dtypes: int64(8)
memory usage: 1.6 MB
None

In [72]:
#grunnkrets_income_households.year.drop("2016")
#print(grunnkrets_income_households.year)

grunnkrets_income_households = grunnkrets_income_households[grunnkrets_income_households.year != 2015]

grunnkrets_income_households.head()

#grunnkrets_income_households.drop(labels=["year"], axis=0, ("2016")

,grunnkrets_id,year,all_households,singles,couple_without_children,couple_with_children,other_households,single_parent_with_children
0,14200105,2016,551700,270300,0,0,0,0
3,14200401,2016,507000,250700,0,0,0,0
11,14200402,2016,507000,250700,0,0,0,0
12,14200101,2016,551700,270300,0,0,0,0
13,14200103,2016,551700,270300,0,0,0,0

In [73]:
# Merging

stores_with_households_income = stores_train.merge(grunnkrets_income_households, on="grunnkrets_id", how="left")

In [74]:
# merged file has 25 684
stores_with_households_income.shape[0]

12859

In [75]:
stores_with_households_income.head()

,store_id,year_x,store_name,plaace_hierarchy_id,sales_channel_name,grunnkrets_id,address,lat,lon,chain_name,mall_name,revenue,year_y,all_households,singles,couple_without_children,couple_with_children,other_households,single_parent_with_children
0,983540538-974187930-44774,2016,MCDONALD'S BRAGERNES TORG MAGASINET,1.1.1.0,Hamburger restaurants,6020303,BRAGERNES TORG 13,59.743104,10.204928,MCDONALDS,Magasinet Drammen,17.998,2016.0,398700.0,277500.0,669100.0,832800.0,679600.0,349500.0
1,987074191-973117734-44755,2016,MCDONALD'S KLINGENBERGGATA,1.1.1.0,Hamburger restaurants,3010306,NaN,59.913759,10.734031,MCDONALDS,NaN,23.828,2016.0,374800.0,295000.0,679600.0,802200.0,604100.0,397700.0
2,984890265-981157303-64491,2016,BURGER KING HØNEFOSS,1.1.1.0,Hamburger restaurants,6050102,KONG RINGS GATE 1,60.164751,10.254656,BURGER KING,Kuben Hønefoss,16.099,2016.0,347900.0,251900.0,589900.0,673100.0,637600.0,327000.0
3,914057442-992924179-126912,2016,BURGER KING GLASSHUSPASSASJEN,1.1.1.0,Hamburger restaurants,18040102,STORGATA 12,67.283669,14.379796,BURGER KING,Glasshuspassasjen,9.296,2016.0,394000.0,293600.0,602000.0,675800.0,699600.0,335200.0
4,913018583-913063538-668469,2016,BURGER KING TILLERTORGET,1.1.1.0,Hamburger restaurants,16017414,NaN,63.358068,10.374832,BURGER KING,Tillertorget,4.528,2016.0,623700.0,296500.0,635700.0,779700.0,801300.0,413600.0

In [76]:
stores_train.head()

,store_id,year,store_name,plaace_hierarchy_id,sales_channel_name,grunnkrets_id,address,lat,lon,chain_name,mall_name,revenue
0,983540538-974187930-44774,2016,MCDONALD'S BRAGERNES TORG MAGASINET,1.1.1.0,Hamburger restaurants,6020303,BRAGERNES TORG 13,59.743104,10.204928,MCDONALDS,Magasinet Drammen,17.998
1,987074191-973117734-44755,2016,MCDONALD'S KLINGENBERGGATA,1.1.1.0,Hamburger restaurants,3010306,NaN,59.913759,10.734031,MCDONALDS,NaN,23.828
2,984890265-981157303-64491,2016,BURGER KING HØNEFOSS,1.1.1.0,Hamburger restaurants,6050102,KONG RINGS GATE 1,60.164751,10.254656,BURGER KING,Kuben Hønefoss,16.099
3,914057442-992924179-126912,2016,BURGER KING GLASSHUSPASSASJEN,1.1.1.0,Hamburger restaurants,18040102,STORGATA 12,67.283669,14.379796,BURGER KING,Glasshuspassasjen,9.296
4,913018583-913063538-668469,2016,BURGER KING TILLERTORGET,1.1.1.0,Hamburger restaurants,16017414,NaN,63.358068,10.374832,BURGER KING,Tillertorget,4.528

In [77]:
def average_income_per_grunnkrets():
    avg_income_per_household = []
    parameters = ["singles", "couple_without_children", "couple_with_children", "other_households", "single_parent_with_children"]

    for index, row in stores_with_households_income.iterrows():
        mean_income = 0
        average_divide = 0
        for param in parameters:
            if (row[param] > 0):
                mean_income += row[param]
                average_divide += 1
        if (average_divide > 0):
            mean_income = mean_income / average_divide
        else: 
            mean_income = 0
        avg_income_per_household.append(mean_income)
                
    return avg_income_per_household


instance = average_income_per_grunnkrets()
avg_income = pd.DataFrame()
avg_income["average_income_per_grunnkrets"] = np.asarray(instance)
avg_income.to_csv("../features_train_csv/average_income_per_grunnkrets.csv", index=False)

FileNotFoundError: [Errno 2] No such file or directory: '../features_csv/average_income_per_grunnkrets.csv'